<div class="container">
  <h1><%= @restaurant.name %></h1>
  <%= link_to 'Update', edit_path() %> | <%= link_to 'List all reviews', reviews_path %>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
  <%= link_to 'Back to list Restaurant', restaurants_path %> |
  <%= link_to 'Delete', restaurant_path(@restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
