<div class="container">
  <h1>Review <%= @restaurant.name %></h1>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">
        <p><%= review.content %></p>
        <p>Rating: <%= review.rating %>/5</p>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Get back to restaurant', restaurant_path(@restaurant) %> |
  <%= link_to 'Create new review', new_restaurant_review_path %>
</div>
